.venv/
tests/test.lucia
build
dist
*.spec
env/config.json
AdditionalLibs/
.idea/
__pycache__/
env/Lib/Builtins/__pycache__/
*.pyc
tests/
env/assets/fake_temp.zip
env/assets/python_installer.exe
installer.py
env/build/
env/bin/lucia_installer.exe
